<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

<title>ピッキングシステム</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
<link rel="stylesheet"
	href="https://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/ui-lightness/jquery-ui.css">
<link rel="stylesheet"
	th:href="@{/css/style.css}" type="text/css">
</head>
<body>

	<div class="container">
		<h1>ピッキングリスト取得画面</h1>
		<form role="form" action="/picking" th:action="@{/picking}"
			th:object="${pickingInputForm}" method="post">
			<div class="form-group">
				<label for="datepicker">出荷予定日: <input type="text"
					id="datepicker" class="form-control" name="inputPickingDate"
					th:field="*{inputPickingDate}"></label>
			</div>
			<div class="btn-group">
				<button type="submit" class="btn btn-primary">検索</button>
				<button id="resetButton" type="button" class="btn btn-warning">クリア</button>
			</div>
		</form>
		<div class="message-area" th:text="${message}">	</div>
		<table class="table table-striped">
			<thead class="thead-dark">
				<tr>
					<th scope="col"></th>
					<th scope="col" th:each="date : ${sendDateList}">[[${#strings.substring(date,0,10)}]]</th>
				</tr>
				<tr>
					<th scope="col">出荷件数</th>
					<th scope="col" th:each="count : ${countOrder}">[[${count}]]件</th>
				</tr>
			</thead>
			<tbody class="">
				<tr th:each="entry : ${itemQuantityMap}">
					<th scope="row">[[${entry.key}]]</th>
					<td th:each="quantity, stat2 : ${entry.value}">[[${quantity}]]</td>
				</tr>
			</tbody>
		</table>
	</div>

	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
	<script
		src="https://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js"></script>
	<script
		src="https://ajax.googleapis.com/ajax/libs/jqueryui/1/i18n/jquery-ui-i18n.min.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>
	<script type="text/javascript">
		$(function() {
			$.datepicker.setDefaults($.datepicker.regional["ja"]);
			$("#datepicker").datepicker({
				dateFormat : 'yy-mm-dd'
			});
		});
		$("#resetButton").on("click",function(){
			$("#datepicker").val("");
		});
	</script>

</body>
</html>