<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head
    lang="ja"
    th:replace="common :: meta_header('registOrder',~{::link},~{::script})"
  >
  </head>
  <body>
    <div th:replace="common :: header"></div>

    <div class="container-fluid">
      <h1>受注登録画面</h1>

      <div
        th:if="${confirmMessage}"
        class="alert alert-success alert-dismissible fade show"
        role="alert"
      >
        <strong>[[${confirmMessage}]]</strong>
        <button
          type="button"
          class="close"
          data-dismiss="alert"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div
        th:if="${alertMessage}"
        class="alert alert-danger alert-dismissible fade show"
        role="alert"
      >
        <strong>[[${alertMessage}]]</strong>
        <button
          type="button"
          class="close"
          data-dismiss="alert"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form
        id="registOrderForm"
        th:action="@{/registOrder}"
        action="/registOrder"
        th:object="${registOrderInputForm}"
        method="post"
      >
        <input
          type="hidden"
          name="itemAllPrice"
          class="form-control calcBilling"
          value="0"
        />
        <input
          type="hidden"
          name="taxPrice"
          class="form-control calcBilling"
          value="0"
        />

        <div class="row">
          <div class="col-8">
            <div id="buyer_area" class="d-block">
              <div
                style="
                  text-align: center;
                  background-color: antiquewhite;
                  border: 1px solid #000000;
                "
              >
                送り主情報
              </div>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="input_buyer_tel"> 電話番号： </label>
                  <input
                    type="text"
                    id="input_buyer_tel"
                    class="form-control"
                    placeholder="000-0000-0000"
                    name="buyerTel"
                  />
                </div>
                <div class="form-group col-md-4">
                  <label for="input_buyer_zipcode"> 郵便番号： </label>
                  <div class="input-group">
                    <input
                      type="text"
                      id="input_buyer_zipcode"
                      class="form-control"
                      placeholder="0000000"
                      name="buyerZipcode"
                    />
                    <div class="input-group-append">
                      <button
                        class="btn btn-outline-secondary"
                        type="button"
                        id="append_input_buyer_zipcode"
                      >
                        〒→住所
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-6">
                  <label for="input_buyer_address1"> 住所１： </label>
                  <input
                    type="text"
                    id="input_buyer_address1"
                    class="form-control"
                    placeholder="住所１"
                    name="buyerAddress1"
                  />
                </div>
                <div class="form-group col-6">
                  <label for="input_buyer_address2"> 住所２： </label>
                  <input
                    type="text"
                    id="input_buyer_address2"
                    class="form-control"
                    placeholder="住所２"
                    name="buyerAddress2"
                  />
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-6">
                  <label for="input_buyer_name"> お名前： </label>
                  <input
                    type="text"
                    id="input_buyer_name"
                    class="form-control"
                    placeholder="注文者名"
                    name="buyerName"
                  />
                </div>
                <div class="form-group col-6">
                  <label for="input_buyer_furi"> フリガナ： </label>
                  <input
                    type="text"
                    id="input_buyer_furi"
                    class="form-control"
                    placeholder="チュウモンシャメイ"
                    name="buyerKana"
                  />
                </div>
              </div>
            </div>
            <div id="destination_area" class="d-block">
              <div
                style="
                  text-align: center;
                  background-color: antiquewhite;
                  border: 1px solid #000000;
                "
              >
                お届け先情報
              </div>
              <div class="form-row">
                <div class="col-md-2">
                  <button
                    class="btn btn-primary"
                    type="button"
                    id="same_delivery"
                    style="margin-top: 43px; margin-left: 10px"
                  >
                    注文者と同じ
                  </button>
                </div>
                <div class="form-group col-md-6">
                  <label for="input_destination_tel"> 電話番号： </label>
                  <input
                    type="text"
                    id="input_destination_tel"
                    class="form-control"
                    placeholder="000-0000-0000"
                    name="destTel"
                  />
                </div>
                <div class="form-group col-md-4">
                  <label for="input_destination_zipcode"> 郵便番号： </label>
                  <div class="input-group">
                    <input
                      type="text"
                      id="input_destination_zipcode"
                      class="form-control"
                      placeholder="0000000"
                      name="destZipCode"
                    />
                    <div class="input-group-append">
                      <button
                        class="btn btn-outline-secondary"
                        type="button"
                        id="append_input_destination_zipcode"
                      >
                        〒→住所
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-6">
                  <label for="input_destination_address1"> 住所１： </label>
                  <input
                    type="text"
                    id="input_destination_address1"
                    class="form-control"
                    placeholder="住所１"
                    name="destAddress1"
                  />
                </div>
                <div class="form-group col-6">
                  <label for="input_destination_address2"> 住所２： </label>
                  <input
                    type="text"
                    id="input_destination_address2"
                    class="form-control"
                    placeholder="住所２"
                    name="destAddress2"
                  />
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-6">
                  <label for="input_destination_name"> お名前： </label>
                  <input
                    type="text"
                    id="input_destination_name"
                    class="form-control"
                    placeholder="届け先名"
                    name="destName"
                  />
                </div>
                <div class="form-group col-6">
                  <label for="input_destination_furi"> フリガナ： </label>
                  <input
                    type="text"
                    id="input_destination_furi"
                    class="form-control"
                    placeholder="トドケサキメイ"
                    name="destKana"
                  />
                </div>
              </div>
            </div>
            <div id="item_detail_area" class="d-block">
              <div
                style="
                  text-align: center;
                  background-color: antiquewhite;
                  border: 1px solid #000000;
                "
              >
                商品情報
              </div>
              <div class="form-row">
                <table class="table" id="item_input_table">
                  <thead>
                    <tr>
                      <th style="width: 5%"></th>
                      <th style="width: 10%">商品コード</th>
                      <th style="width: 40%">商品名</th>
                      <th style="width: 15%">商品オプション</th>
                      <th style="width: 10%">商品価格</th>
                      <th style="width: 10%">商品数量</th>
                      <th style="width: 10%">消費税率</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>
                        <div class="addButton"></div>
                      </td>
                      <td>
                        <input
                          name="itemCode"
                          type="text"
                          class="form-control"
                        />
                      </td>
                      <td>
                        <input
                          name="itemName"
                          type="text"
                          class="form-control"
                        />
                      </td>
                      <td>
                        <input
                          name="itemOption"
                          type="text"
                          class="form-control"
                        />
                      </td>
                      <td>
                        <input
                          name="itemPrice"
                          type="text"
                          class="form-control calcItems"
                        />
                      </td>
                      <td>
                        <input
                          name="itemCount"
                          type="number"
                          class="form-control calcItems"
                        />
                      </td>
                      <td>
                        <input
                          name="itemTaxRate"
                          type="text"
                          class="form-control calcItems"
                        />
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="col-4" style="border-left: 1px solid #d3d3d3">
            <div
              id="information_area"
              class="d-block"
              style="position: sticky; top: 72px"
            >
              <div
                class="btn-group btn-group-toggle mb-4"
                data-toggle="buttons"
              >
                <button
                  type="button"
                  class="btn btn-primary"
                  id="test_tel_send"
                >
                  テスト送信
                </button>
              </div>
              <div class="form-row">
                <div class="form-group col-md-６">
                  <label for="input_order_date"> 受注日： </label>
                  <input
                    type="text"
                    id="input_order_date"
                    class="form-control datepicker"
                    name="orderDate"
                  />
                </div>
                <div class="form-group col-md-６">
                  <label for="input_shipping_date"> 出荷予定日： </label>
                  <input
                    type="text"
                    id="input_shipping_date"
                    class="form-control datepicker"
                  />
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="input_preferred_date"> 配達希望日： </label>
                  <input
                    type="text"
                    id="input_preferred_date"
                    class="form-control datepicker"
                    name="deliveryDate"
                  />
                </div>
                <div class="form-group col-md-6">
                  <label for="input_preferred_time"> 届け時間帯： </label>
                  <select
                    id="input_preferred_time"
                    class="form-control"
                    name="shippingTimeZone"
                  >
                    <option value="午前中">午前中</option>
                    <option value="14時-16時">１４時〜１６時</option>
                    <option value="16時-18時">１６時〜１８時</option>
                    <option value="18時-20時">１８時〜２０時</option>
                    <option value="19時-21時">１９時〜２１時</option>
                  </select>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="input_payment"> 支払方法： </label>
                  <select
                    id="input_payment"
                    class="form-control"
                    name="paymentMethod"
                  >
                    <option>請求書後払い</option>
                    <option>代引</option>
                    <option>銀行振込前払い</option>
                  </select>
                </div>
                <div class="form-group col-md-6">
                  <label for="input_invoice_type"> 送り状種別： </label>
                  <select
                    id="input_invoice_type"
                    class="form-control"
                    name="shippingMethod"
                  >
                    <option value="ヤマト運輸" selected>ヤマトB2V6</option>
                    <!-- 
                    <option value="ゆうぱっく">ゆうぱっく</option>
                    < option value="佐川急便">佐川急便</option>
                    <option value="伝票不要">伝票不要</option>
                    -->
                  </select>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="input_cool"> クール区分： </label>
                  <select id="input_cool" class="form-control">
                    <option value="0" selected>常温</option>
                    <option value="1">冷蔵</option>
                    <option value="2">冷凍</option>
                  </select>
                </div>
                <div class="form-group col-md-6">
                  <label for="input_postage"> 送料有無： </label>
                  <select id="input_postage" class="form-control">
                    <option value="1" selected>有</option>
                    <option value="0">無</option>
                  </select>
                </div>
              </div>
              <div class="form-row">
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <!--
                      <th>商品計</th>
                      <th>税金</th>
                    -->
                      <th style="width: 67%">商品計（税込）</th>
                      <th style="width: 33%">発送料</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>
                        <input
                          name="itemAllPrice_taxInclude"
                          class="form-control"
                          value="0"
                          readonly
                        />
                      </td>
                      <td>
                        <input
                          name="shippingPrice"
                          class="form-control calcBilling"
                          value="0"
                        />
                      </td>
                    </tr>
                  </tbody>
                </table>
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th>手数料</th>
                      <th>ポイント</th>
                      <th>その他費用</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>
                        <input
                          name="commisionPrice"
                          class="form-control calcBilling"
                          value="0"
                        />
                      </td>
                      <td>
                        <input
                          name="usePoint"
                          class="form-control calcBilling"
                          value="0"
                        />
                      </td>
                      <td>
                        <input
                          name="otherPrice"
                          class="form-control calcBilling"
                          value="0"
                        />
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="form-group">
                <label for="input_total_claim"> 請求額： </label>
                <input
                  type="text"
                  id="input_total_claim"
                  class="form-control"
                  value="0"
                  name="billingPrice"
                  style="height: 80px; font-size: 50px; color: red"
                  readonly
                />
              </div>

              <div class="form-row">
                <div class="form-group col-md-6 d-none">
                  <label for="input_remarks">備考欄</label>
                  <textarea
                    type="text"
                    rows="4"
                    id="input_remarks"
                    class="form-control"
                    name="remarks"
                  ></textarea>
                </div>
                <div class="form-group col-md-6">
                  <label for="invoice_write">伝票記載事項</label>
                  <textarea
                    type="text"
                    rows="4"
                    id="invoice_write"
                    class="form-control"
                    name="invoice_write"
                  ></textarea>
                </div>
                <div class="form-group col-md-6">
                  <label for="input_for_worker">本受注についての留意事項</label>
                  <textarea
                    type="text"
                    rows="4"
                    id="input_for_worker"
                    class="form-control"
                    name="workerArea"
                  ></textarea>
                </div>
              </div>
              <div class="form-group form-check col-md-4">
                <input
                  type="checkbox"
                  id="input_gift_flag"
                  class="form-check-input"
                  name="giftFlag"
                />
                <label for="input_gift_flag">ギフト用</label>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>

    <div
      class="modal fade"
      id="modal_zipcode"
      tabindex="-1"
      role="dialog"
      aria-labelledby="basicModal"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h3 class="modal-title" id="modalLabelId">住所選択</h3>
          </div>
          <div class="modal-body">
            <select id="modal_select_address" multiple></select>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
            >
              Close
            </button>
            <button
              type="button"
              id="modal_zipcode_OK_button"
              class="btn btn-primary"
            >
              OK
            </button>
          </div>
        </div>
      </div>
    </div>

    <div
      class="modal fade"
      id="modal_iteminfo"
      tabindex="-1"
      role="dialog"
      aria-labelledby="basicModal"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h3 class="modal-title" id="modalLabelId">商品候補一覧</h3>
          </div>
          <div class="modal-body">
            <table class="table" id="modal_iteminfo_table">
              <thead>
                <tr>
                  <th>商品コード</th>
                  <th>商品名</th>
                  <th>商品価格</th>
                  <th>商品税率</th>
                </tr>
              </thead>
              <tbody></tbody>
            </table>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
            >
              Close
            </button>
            <button
              type="button"
              id="modal_iteminfo_OK_button"
              class="btn btn-primary"
            >
              OK
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- 電話番号検索時用Modal -->
    <div
      class="modal fade"
      id="exampleModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body" id="modal_customer_table_area">
            <table class="table" id="modal_customer_table">
              <thead>
                <tr>
                  <th>名前</th>
                  <th>カナ</th>
                  <th>郵便番号</th>
                  <th>住所１</th>
                  <th>住所２</th>
                </tr>
              </thead>
              <tbody></tbody>
            </table>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
            >
              Close
            </button>
            <button type="button" id="tel_modal_submit" class="btn btn-primary">
              Save changes
            </button>
          </div>
        </div>
      </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1/i18n/jquery.ui.datepicker-ja.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.js"></script>
    <script th:src="@{/js/registOrder.js}"></script>
  </body>
</html>
