<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head
    lang="ja"
    th:replace="common :: meta_header('registOrder',~{::link},~{::script})"
  >
  </head>
  <body>
    <div th:replace="common :: header"></div>

    <div class="container">
      <h1>受注登録画面</h1>

      <div
        th:if="${confirmMessage}"
        class="alert alert-success alert-dismissible fade show"
        role="alert"
      >
        <strong>[[${confirmMessage}]]</strong>
        <button
          type="button"
          class="close"
          data-dismiss="alert"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div
        th:if="${alertMessage}"
        class="alert alert-danger alert-dismissible fade show"
        role="alert"
      >
        <strong>[[${alertMessage}]]</strong>
        <button
          type="button"
          class="close"
          data-dismiss="alert"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="btn-group btn-group-toggle mb-4" data-toggle="buttons">
        <label class="btn btn-primary active">
          <input
            type="radio"
            name="options"
            autocomplete="off"
            value="1"
            checked
          />
          購入者
        </label>
        <label class="btn btn-primary">
          <input type="radio" name="options" autocomplete="off" value="2" />
          届け先
        </label>
        <label class="btn btn-primary">
          <input type="radio" name="options" autocomplete="off" value="3" />
          商品・配達日・金額など
        </label>
        <button type="button" class="btn btn-primary" id="test_tel_send">
          テスト送信
        </button>
      </div>
      <form
        id="registOrderForm"
        th:action="@{/registOrder}"
        action="/registOrder"
        th:object="${registOrderInputForm}"
        method="post"
      >
        <div id="buyer_area" class="d-block">
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="input_buyer_tel"> 電話番号： </label>
              <input
                type="text"
                id="input_buyer_tel"
                class="form-control"
                placeholder="000-0000-0000"
                name="buyerTel"
              />
            </div>
            <div class="form-group col-md-4">
              <label for="input_buyer_zipcode"> 郵便番号： </label>
              <div class="input-group">
                <input
                  type="text"
                  id="input_buyer_zipcode"
                  class="form-control"
                  placeholder="0000000"
                  name="buyerZipcode"
                />
                <div class="input-group-append">
                  <button
                    class="btn btn-outline-secondary"
                    type="button"
                    id="append_input_buyer_zipcode"
                  >
                    〒→住所
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="input_buyer_address1"> 住所１： </label>
            <input
              type="text"
              id="input_buyer_address1"
              class="form-control"
              placeholder="住所１"
              name="buyerAddress1"
            />
          </div>
          <div class="form-group">
            <label for="input_buyer_address2"> 住所２： </label>
            <input
              type="text"
              id="input_buyer_address2"
              class="form-control"
              placeholder="住所２"
              name="buyerAddress2"
            />
          </div>
          <div class="form-group">
            <label for="input_buyer_name"> お名前： </label>
            <input
              type="text"
              id="input_buyer_name"
              class="form-control"
              placeholder="注文者名"
              name="buyerName"
            />
          </div>
          <div class="form-group">
            <label for="input_buyer_furi"> フリガナ： </label>
            <input
              type="text"
              id="input_buyer_furi"
              class="form-control"
              placeholder="チュウモンシャメイ"
              name="buyerKana"
            />
          </div>
        </div>
        <div id="destination_area" class="d-none">
          <div class="form-row">
            <div class="col-md-2">
              <button class="btn btn-primary" type="button" id="same_delivery">
                注文者と同じ
              </button>
            </div>
            <div class="form-group col-md-6">
              <label for="input_destination_tel"> 電話番号： </label>
              <input
                type="text"
                id="input_destination_tel"
                class="form-control"
                placeholder="000-0000-0000"
                name="destTel"
              />
            </div>
            <div class="form-group col-md-4">
              <label for="input_destination_zipcode"> 郵便番号： </label>
              <div class="input-group">
                <input
                  type="text"
                  id="input_destination_zipcode"
                  class="form-control"
                  placeholder="0000000"
                  name="destZipCode"
                />
                <div class="input-group-append">
                  <button
                    class="btn btn-outline-secondary"
                    type="button"
                    id="append_input_destination_zipcode"
                  >
                    〒→住所
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="input_destination_address1"> 住所１： </label>
            <input
              type="text"
              id="input_destination_address1"
              class="form-control"
              placeholder="住所１"
              name="destAddress1"
            />
          </div>
          <div class="form-group">
            <label for="input_destination_address2"> 住所２： </label>
            <input
              type="text"
              id="input_destination_address2"
              class="form-control"
              placeholder="住所２"
              name="destAddress2"
            />
          </div>
          <div class="form-group">
            <label for="input_destination_name"> お名前： </label>
            <input
              type="text"
              id="input_destination_name"
              class="form-control"
              placeholder="届け先名"
              name="destName"
            />
          </div>
          <div class="form-group">
            <label for="input_destination_furi"> フリガナ： </label>
            <input
              type="text"
              id="input_destination_furi"
              class="form-control"
              placeholder="トドケサキメイ"
              name="destKana"
            />
          </div>
        </div>
        <div id="information_area" class="d-none">
          <div class="form-row">
            <div class="form-group col-md-4">
              <label for="input_order_date"> 受注日： </label>
              <input
                type="text"
                id="input_order_date"
                class="form-control datepicker"
                name="orderDate"
              />
            </div>
            <div class="form-group col-md-4">
              <label for="input_shipping_date"> 出荷予定日： </label>
              <input
                type="text"
                id="input_shipping_date"
                class="form-control datepicker"
              />
            </div>
            <div class="form-group col-md-4">
              <label for="input_preferred_date"> 配達希望日： </label>
              <input
                type="text"
                id="input_preferred_date"
                class="form-control datepicker"
                name="deliveryDate"
              />
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-4">
              <label for="input_preferred_time"> 届け時間帯： </label>
              <select
                id="input_preferred_time"
                class="form-control"
                name="shippingTimeZone"
              >
                <option value="午前中">午前中</option>
                <option value="14時-16時">１４時〜１６時</option>
                <option value="16時-18時">１６時〜１８時</option>
                <option value="18時-20時">１８時〜２０時</option>
                <option value="19時-21時">１９時〜２１時</option>
              </select>
            </div>
            <div class="form-group col-md-4">
              <label for="input_payment"> 支払方法： </label>
              <select
                id="input_payment"
                class="form-control"
                name="paymentMethod"
              >
                <option>請求書後払い</option>
                <option>代引</option>
                <option>銀行振込前払い</option>
              </select>
            </div>
            <div class="form-group col-md-4">
              <label for="input_invoice_type"> 送り状種別： </label>
              <select
                id="input_invoice_type"
                class="form-control"
                name="shippingMethod"
              >
                <option value="ヤマト運輸" selected>ヤマトB2V6</option>
                <option value="ゆうぱっく">ゆうぱっく</option>
                <option value="佐川急便">佐川急便</option>
                <option value="伝票不要">伝票不要</option>
              </select>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-4">
              <label for="input_cool"> クール区分： </label>
              <select id="input_cool" class="form-control">
                <option value="0" selected>常温</option>
                <option value="1">冷蔵</option>
                <option value="2">冷凍</option>
              </select>
            </div>
            <div class="form-group col-md-4">
              <label for="input_postage"> 送料有無： </label>
              <select id="input_postage" class="form-control">
                <option value="1" selected>有</option>
                <option value="0">無</option>
              </select>
            </div>
            <div class="form-group col-md-4">
              <label for="input_total_claim"> 請求額： </label>
              <input
                type="text"
                id="input_total_claim"
                class="form-control"
                value="0"
                name="billingPrice"
                readonly
              />
            </div>
          </div>
          <div class="form-row">
            <div class="form-group form-check col-md-4">
              <input
                type="checkbox"
                id="input_gift_flag"
                class="form-check-input"
                name="giftFlag"
              />
              <label for="input_gift_flag">ギフト用</label>
            </div>
            <div class="form-group col-md-4">
              <label for="input_remarks">備考欄</label>
              <textarea
                type="text"
                rows="4"
                id="input_remarks"
                class="form-control"
                name="remarks"
              ></textarea>
            </div>
            <div class="form-group col-md-4">
              <label for="input_for_worker">作業用欄</label>
              <textarea
                type="text"
                rows="4"
                id="input_for_worker"
                class="form-control"
                name="workerArea"
              ></textarea>
            </div>
          </div>
          <div class="form-row">
            <table class="table table-bordered" id="calc_area">
              <thead>
                <tr>
                  <th>商品計</th>
                  <th>税金</th>
                  <th>発送料</th>
                  <th>手数料</th>
                  <th>ポイント</th>
                  <th>その他費用</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <input
                      name="itemAllPrice"
                      class="form-control calcBilling"
                      value="0"
                    />
                  </td>
                  <td>
                    <input
                      name="taxPrice"
                      class="form-control calcBilling"
                      value="0"
                    />
                  </td>
                  <td>
                    <input
                      name="shippingPrice"
                      class="form-control calcBilling"
                      value="0"
                    />
                  </td>
                  <td>
                    <input
                      name="commisionPrice"
                      class="form-control calcBilling"
                      value="0"
                    />
                  </td>
                  <td>
                    <input
                      name="usePoint"
                      class="form-control calcBilling"
                      value="0"
                    />
                  </td>
                  <td>
                    <input
                      name="otherPrice"
                      class="form-control calcBilling"
                      value="0"
                    />
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="form-row">
            <table class="table" id="item_input_table">
              <thead>
                <tr>
                  <th style="width: 5%"></th>
                  <th style="width: 10%">商品コード</th>
                  <th style="width: 40%">商品名</th>
                  <th style="width: 15%">商品オプション</th>
                  <th style="width: 10%">商品価格</th>
                  <th style="width: 10%">商品数量</th>
                  <th style="width: 10%">消費税率</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <div class="addButton"></div>
                  </td>
                  <td>
                    <input name="itemCode" type="text" class="form-control" />
                  </td>
                  <td>
                    <input name="itemName" type="text" class="form-control" />
                  </td>
                  <td>
                    <input name="itemOption" type="text" class="form-control" />
                  </td>
                  <td>
                    <input
                      name="itemPrice"
                      type="text"
                      class="form-control calcItems"
                    />
                  </td>
                  <td>
                    <input
                      name="itemCount"
                      type="number"
                      class="form-control calcItems"
                    />
                  </td>
                  <td>
                    <input
                      name="itemTaxRate"
                      type="text"
                      class="form-control calcItems"
                    />
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </form>
    </div>

    <div
      class="modal fade"
      id="modal_zipcode"
      tabindex="-1"
      role="dialog"
      aria-labelledby="basicModal"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h3 class="modal-title" id="modalLabelId">住所選択</h3>
          </div>
          <div class="modal-body">
            <select id="modal_select_address" multiple></select>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
            >
              Close
            </button>
            <button
              type="button"
              id="modal_zipcode_OK_button"
              class="btn btn-primary"
            >
              OK
            </button>
          </div>
        </div>
      </div>
    </div>

    <div
      class="modal fade"
      id="modal_iteminfo"
      tabindex="-1"
      role="dialog"
      aria-labelledby="basicModal"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h3 class="modal-title" id="modalLabelId">商品候補一覧</h3>
          </div>
          <div class="modal-body">
            <table class="table" id="modal_iteminfo_table">
              <thead>
                <tr>
                  <th>商品コード</th>
                  <th>商品名</th>
                  <th>商品価格</th>
                  <th>商品税率</th>
                </tr>
              </thead>
              <tbody></tbody>
            </table>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
            >
              Close
            </button>
            <button
              type="button"
              id="modal_iteminfo_OK_button"
              class="btn btn-primary"
            >
              OK
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- 電話番号検索時用Modal -->
    <div
      class="modal fade"
      id="exampleModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body" id="modal_customer_table_area">
            <table class="table" id="modal_customer_table">
              <thead>
                <tr>
                  <th>名前</th>
                  <th>カナ</th>
                  <th>郵便番号</th>
                  <th>住所１</th>
                  <th>住所２</th>
                </tr>
              </thead>
              <tbody></tbody>
            </table>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
            >
              Close
            </button>
            <button type="button" id="tel_modal_submit" class="btn btn-primary">
              Save changes
            </button>
          </div>
        </div>
      </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1/i18n/jquery.ui.datepicker-ja.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.js"></script>
    <script type="text/javascript">
      //注文者と同じを押されたときの転記作業
      $("#same_delivery").on("click", function (event) {
        $("#input_destination_tel").val($("#input_buyer_tel").val());
        $("#input_destination_zipcode").val($("#input_buyer_zipcode").val());
        $("#input_destination_address1").val($("#input_buyer_address1").val());
        $("#input_destination_address2").val($("#input_buyer_address2").val());
        $("#input_destination_name").val($("#input_buyer_name").val());
        $("#input_destination_furi").val($("#input_buyer_furi").val());
      });

      //商品一覧の＋ボタン押下時の処理定義
      $("#item_input_table").on("click", ".addButton", function () {
        if ($(this).hasClass("clicked")) {
          //列削除
          $(this).parent().parent().remove();
        } else {
          //行追加
          var appendRowStr =
            "<tr><td><div class='addButton'></div></td><td><input name='itemCode' type='text' class='form-control' /></td><td><input name='itemName' type='text' class='form-control' /></td><td><input name='itemOption' type='text' class='form-control' /></td><td><input name='itemPrice' type='text' class='form-control calcItems' /></td><td><input name='itemCount' type='number' class='form-control calcItems' /></td><td><input name='itemTaxRate' type='text' class='form-control calcItems' /></td></tr>";
          $("#item_input_table tbody").append(appendRowStr);
          $(this).toggleClass("clicked");
        }
      });

      //datepickerクラスをもつinputフォームへdatepickerの反映
      $("input.datepicker").datepicker({
        dateFormat: "yy/mm/dd",
      });
      //受注日エリアへのdatepickerの反映（初期値に当日の日付を入れる）
      $("#input_order_date").datepicker(
        "setDate",
        //当日の日付を記入
        moment().format("YYYY/MM/DD")
      );

      //購入者・届け先・商品配達費金額などのボタンの切り替え処理定義
      $("input[name='options']").change(function () {
        var division = $(this).val();

        if (division == 1) {
          $("#buyer_area,#destination_area,#information_area").removeClass(
            "d-block d-none"
          );
          $("#buyer_area").addClass("d-block");
          $("#destination_area, #information_area").addClass("d-none");
        } else if (division == 2) {
          $("#buyer_area,#destination_area,#information_area").removeClass(
            "d-block d-none"
          );
          $("#destination_area").addClass("d-block");
          $("#buyer_area, #information_area").addClass("d-none");
        } else {
          $("#buyer_area,#destination_area,#information_area").removeClass(
            "d-block d-none"
          );
          $("#information_area").addClass("d-block");
          $("#buyer_area, #destination_area").addClass("d-none");
        }
      });

      //郵便番号欄を入力したあとのフォーカスを外したときの処理定義
      $("#input_buyer_zipcode,#input_destination_zipcode").blur(
        searchAddressFromZipcode
      );
      //〒→住所ボタン押下時の定義
      $("#append_input_buyer_zipcode,#append_input_destination_zipcode").on(
        "click",
        searchAddressFromZipcode
      );
      //郵便番号から住所情報を取得するAPI利用処理
      function searchAddressFromZipcode() {
        $.ajax({
          url: "https://zipcloud.ibsnet.co.jp/api/search",
          type: "get",
          datatype: "json",
          data: {
            zipcode: $("#input_buyer_zipcode").val().replace(/-/g, ""),
          },
        })
          .done(function (data) {
            var json = JSON.parse(data);
            if (json.status == 200 && json.results != null) {
              //該当の住所が見つかった場合
              var results = json.results;

              if (results.length > 1) {
                //複数件、該当の住所が存在するとき
                $.each(results, function (index, value) {
                  var address =
                    value.address1 +
                    " " +
                    value.address2 +
                    " " +
                    value.address3;
                  $("#modal_select_address").append(
                    "<option value='" + address + "'>" + address + "</option>"
                  );
                });

                $("#modal_zipcode").modal();
                $("#modal_zipcode_OK_button").on("click", function () {
                  var selected_value = $("#modal_select_address").val();
                  if (selected_value.length == 1) {
                    var addresses = selected_value[0].split(" ");

                    //入力フォームに検索結果を入力
                    // $("#input_buyer_pref").val(addresses[0]);
                    // $("#input_buyer_municipalities").val(addresses[1]);
                    $("#input_buyer_address1").val(
                      addresses[0] + addresses[1] + addresses[2]
                    );
                  } else {
                    console.log("ごめんなさい一つだけせんたくしてください。");
                  }

                  $("#modal_zipcode").modal("hide");
                });
              } else if (results.length == 1) {
                //1件だけ該当の住所が存在するとき
                // var pref = results[0].address1;
                // var municipalities = results[0].address2;
                var address1 =
                  results[0].address1 +
                  results[0].address2 +
                  results[0].address3;

                //入力フォームに検索結果を入力
                // $("#input_buyer_pref").val(pref);
                // $("#input_buyer_municipalities").val(municipalities);
                $("#input_buyer_address1").val(address1);
              } else {
                //0件のとき
              }
            } else {
              //見つからなかった場合、もしくは通信問題があった場合
              console.log(json.message);
            }
            console.log(json);
          })
          .fail(function () {
            console.log("通信失敗");
          });
      }

      //テスト送信ボタン処理
      $("#test_tel_send").on("click", function () {
        // callSearchGoodsApi("0100");
        $("#registOrderForm").submit();
      });

      var itemInfoList;
      function callSearchGoodsApi(itemCode, targetTrElem) {
        $.ajax({
          url: "/nextengine-api/searchGoods",
          type: "post",
          datatype: "json",
          data: {
            itemCode: itemCode,
          },
        }).done(function (data) {
          console.log(data);

          //初期化
          itemInfoList = data;
          $("#modal_iteminfo_table tbody").empty();

          if (data.length == 1) {
            var itemInfo = data[0];
            $(targetTrElem).find("[name='itemPrice']").val(itemInfo.itemPrice);
            $(targetTrElem).find("[name='itemName']").val(itemInfo.itemName);
            $(targetTrElem)
              .find("[name='itemTaxRate']")
              .val(itemInfo.itemTaxrate);
            //再計算
            calcItemPriceAndTax();
          } else {
            var addRowElem = "";
            data.forEach((itemInfo, index) => {
              addRowElem +=
                "<tr data-iteminfo='" +
                index +
                "'><td>" +
                itemInfo.itemCode +
                "</td><td>" +
                itemInfo.itemName +
                "</td><td>" +
                itemInfo.itemPrice +
                "</td><td>" +
                itemInfo.itemTaxrate +
                "</td></tr>";
            });
            $("#modal_iteminfo_table tbody").append(addRowElem);

            //モーダル内の行に選択されたらマークをつける
            $("#modal_iteminfo_table tbody tr").on("click", function (event) {
              if ($(this).hasClass("selected")) {
                $(this).removeClass("bg-warning selected");
              } else {
                $("#modal_iteminfo_table tbody tr").removeClass(
                  "bg-warning selected"
                );
                $(this).addClass("bg-warning selected");
              }
            });

            $("#modal_iteminfo_OK_button").off("click");
            $("#modal_iteminfo_OK_button").on("click", function (event) {
              var itemInfoListIndex = $(
                "#modal_iteminfo_table tbody tr.selected"
              ).data("iteminfo");
              var itemInfo = itemInfoList[itemInfoListIndex];
              $(targetTrElem).find("[name='itemCode']").val(itemInfo.itemCode);
              $(targetTrElem)
                .find("[name='itemPrice']")
                .val(itemInfo.itemPrice);
              $(targetTrElem).find("[name='itemName']").val(itemInfo.itemName);
              $(targetTrElem)
                .find("[name='itemTaxRate']")
                .val(itemInfo.itemTaxrate);

              //パラメータを転記したあと、モーダルを閉じる
              $("#modal_iteminfo").modal("hide");

              //再計算
              calcItemPriceAndTax();
            });

            //モーダルの表示
            $("#modal_iteminfo").modal();
            console.log(data.length + "個のデータがありました。");
          }
        });
      }

      //購入者欄電話番号欄でエンターキーを押された場合の処理
      $("#input_buyer_tel").on("keydown", function (e) {
        if (e.keyCode == 13) {
          searchCustomerByTel(0);
          return false;
        }
      });
      //届け先欄電話番号欄でエンターキーを押された場合の処理
      $("#input_destination_tel").on("keydown", function (e) {
        if (e.keyCode == 13) {
          searchCustomerByTel(1);
          return false;
        }
      });
      $("#item_input_table tbody").on(
        "keydown",
        "input[name='itemCode']",
        function (e) {
          if (e.keyCode == 13) {
            var itemCode = $(this).val();
            var trElem = $(this).parent().parent();
            callSearchGoodsApi(itemCode, trElem);
            if (!trElem.find(".addButton").hasClass("clicked")) {
              trElem.find(".addButton").click();
            }
            calcItemPriceAndTax();
          }
        }
      );

      //電話番号から顧客情報を取得する処理
      //NEAPIを使用します。
      var cutomerInfoListForBuyer;
      function searchCustomerByTel(div) {
        var tel = "";

        if (div == 0) {
          //購入者の場合
          tel = $("#input_buyer_tel").val();
        } else {
          //送り先の場合
          tel = $("#input_destination_tel").val();
        }

        $.ajax({
          url: "/nextengine-api/searchCustomer",
          type: "post",
          datatype: "json",
          data: {
            tel: tel,
            div: div,
          },
        })
          .done(function (data) {
            console.log(data);
            //初期化
            const customerTable = $("#modal_customer_table tbody");
            cutomerInfoListForBuyer = data;
            customerTable.empty();

            //取得した情報分、テーブル行を生成する
            var contentHtml;
            // for (var customerInfo of data) {
            data.forEach((customerInfo, index) => {
              contentHtml +=
                "<tr data-customer='" +
                index +
                "'><td>" +
                transformNullToStr(customerInfo.name) +
                "</td><td>" +
                transformNullToStr(customerInfo.kana) +
                "</td><td>" +
                transformNullToStr(customerInfo.zip_code) +
                "</td><td>" +
                transformNullToStr(customerInfo.address1) +
                "</td><td>" +
                transformNullToStr(customerInfo.address2) +
                "</td></tr>";
            });

            //生成した行を画面に追加
            customerTable.append(contentHtml);

            //モーダル内の行に選択されたらマークをつける
            $("#modal_customer_table tbody tr").on("click", function (event) {
              if ($(this).hasClass("selected")) {
                $(this).removeClass("bg-warning selected");
              } else {
                $("#modal_customer_table tbody tr").removeClass(
                  "bg-warning selected"
                );
                $(this).addClass("bg-warning selected");
              }
            });

            //電話番号検索からのモーダルサブミットした際の挙動定義
            $("#tel_modal_submit").off("click");
            $("#tel_modal_submit").on("click", function (event) {
              var customerIndex = $(
                "#modal_customer_table tbody tr.selected"
              ).data("customer");
              var customerInfo = cutomerInfoListForBuyer[customerIndex];
              console.log(customerInfo);

              if (div == 0) {
                $("#input_buyer_zipcode").val(customerInfo.zip_code);
                $("#input_buyer_address1").val(customerInfo.address1);
                $("#input_buyer_address2").val(customerInfo.address2);
                $("#input_buyer_name").val(customerInfo.name);
                $("#input_buyer_furi").val(customerInfo.kana);
              } else if (div == 1) {
                $("#input_destination_zipcode").val(customerInfo.zip_code);
                $("#input_destination_address1").val(customerInfo.address1);
                $("#input_destination_address2").val(customerInfo.address2);
                $("#input_destination_name").val(customerInfo.name);
                $("#input_destination_furi").val(customerInfo.kana);
              }
              //モーダルの非表示
              $("#exampleModal").modal("hide");
            });

            //モーダルの表示
            $("#exampleModal").modal();
          })
          .fail(function (data) {
            console.log(data);
          });
      }

      function transformNullToStr(str) {
        return str == null ? "" : str;
      }

      $("#item_input_table tbody").on("change", ".calcItems", function () {
        calcItemPriceAndTax();
      });

      function calcItemPriceAndTax() {
        var itemAllPrice = 0;
        var taxPrice = 0;

        var itemTrElem = $("#item_input_table tbody").find("tr");
        itemTrElem.each(function (index) {
          var itemPrice = Number($(this).find("input[name='itemPrice']").val());
          var itemCount = Number($(this).find("input[name='itemCount']").val());
          itemAllPrice += itemPrice * itemCount;
          taxPrice +=
            (itemPrice *
              itemCount *
              Number($(this).find("input[name='itemTaxRate']").val())) /
            100;
        });

        $("input[name='itemAllPrice']").val(itemAllPrice);
        $("input[name='taxPrice']").val(taxPrice);
        calcBillingPrice();
      }

      $(".calcBilling").on("change", function () {
        calcBillingPrice();
      });
      function calcBillingPrice() {
        var itemAllPrice = Number($("input[name='itemAllPrice']").val());
        var taxPrice = Number($("input[name='taxPrice']").val());
        var shippingPrice = Number($("input[name='shippingPrice']").val());
        var commisionPrice = Number($("input[name='commisionPrice']").val());
        var usePoint = Number($("input[name='usePoint']").val());
        var otherPrice = Number($("input[name='otherPrice']").val());

        $("#input_total_claim").val(
          itemAllPrice +
            taxPrice +
            shippingPrice +
            commisionPrice -
            usePoint -
            otherPrice
        );
      }
    </script>
  </body>
</html>
