<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head
    lang="ja"
    th:replace="common :: meta_header('registOrder',~{::link},~{::script})"
  >
  </head>
  <body>
    <div th:replace="common :: header"></div>

    <div class="container-fluid">
      <form
        id="registOrderForm"
        th:action="@{/registOrder}"
        action="/registOrder"
        th:object="${registOrderInputForm}"
        method="post"
      >
      <div class="row">
        <h1 class="col-3">受注登録画面</h1>
        <div class="col-2 form-inline">
            <label for="receptionist">担当者：</label>
            <select class="form-control" name="receptionist" id="receptionist">
            <option value="宮澤" th:selected="*{receptionist} == '宮澤'">宮澤</option>
            <option value="鈴木" th:selected="*{receptionist} == '鈴木'">鈴木</option>
            <option value="宮内副店長" th:selected="*{receptionist} == '宮内副店長'">宮内副店長</option>
            <option value="一重大智" th:selected="*{receptionist} == '一重大智'">一重大智</option>
            <option value="長瀬奈那" th:selected="*{receptionist} == '長瀬奈那'">長瀬奈那</option>
            <option value="川端好" th:selected="*{receptionist} == '川端好'">川端好</option>
            <option value="仲根祥子" th:selected="*{receptionist} == '仲根祥子'">仲根祥子</option>
            <option value="鈴木主任" th:selected="*{receptionist} == '鈴木主任'">鈴木主任</option>
            <option value="伊藤真紀子" th:selected="*{receptionist} == '伊藤真紀子'">伊藤真紀子</option>
            <option value="大熊小百合" th:selected="*{receptionist} == '大熊小百合'">大熊小百合</option>
            <option value="宇野麻登佳" th:selected="*{receptionist} == '宇野麻登佳'">宇野麻登佳</option>
            <option value="渡部麻希" th:selected="*{receptionist} == '渡部麻希'">渡部麻希</option>
            <option value="山口満樹" th:selected="*{receptionist} == '山口満樹'">山口満樹</option>
            <option value="小林紗矢" th:selected="*{receptionist} == '小林紗矢'">小林紗矢</option>
            <option value="後藤優美子" th:selected="*{receptionist} == '後藤優美子'">後藤優美子</option>
            <option value="佐藤楓" th:selected="*{receptionist} == '佐藤楓'">佐藤楓</option>
          </select>
        </div>
        <div class="col-2 form-inline">
          <label for="orderClass">受注区分：</label>
          <select class="form-control" name="orderClass" id="orderClass">
            <option value="電話" th:selected="*{orderClass} == '電話'">電話</option>
            <option value="INC" th:selected="*{orderClass} == 'INC'">INC</option>
            <option value="注文書あり" th:selected="*{orderClass} == '注文書あり'">注文書あり</option>
            <option value="新規ハガキ" th:selected="*{orderClass} == '新規ハガキ'">新規ハガキ</option>
            <option value="先様" th:selected="*{orderClass} == '先様'">先様</option>
          </select>
        </div>

      </div>
      <div
        th:if="${confirmMessage}"
        class="alert alert-success alert-dismissible fade show"
        role="alert"
      >
        <strong>[[${confirmMessage}]]</strong>
        <button
          type="button"
          class="close"
          data-dismiss="alert"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div id="validMessageArea" class="alert alert-success alert-dismissible fade"
      role = "alert">
        <strong id="validMessage"></strong>
        <button id="validCloseButton" type="button" class="close" aria-label="Close">
          <span>&times;</span>
        </button>
    </div>

      <div
        th:if="${alertMessage}"
        class="alert alert-danger alert-dismissible fade show"
        role="alert"
      >
        <strong>[[${alertMessage}]]</strong>
        <button
          type="button"
          class="close"
          data-dismiss="alert"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      
        <input
          type="hidden"
          name="itemAllPrice"
          class="form-control calcBilling"
          value="0"
        />
        <input
          type="hidden"
          name="taxPrice"
          class="form-control calcBilling"
          value="0"
        />
        <input
          type="hidden"
          id="buyerKintoneId"
          name="buyerKintoneId"
          class="form-control"
          th:field="*{buyerKintoneId}"
        />
        <input
          type="hidden"
          id="destinationKintoneId"
          name="destinationKintoneId"
          class="form-control"
          th:field="*{destinationKintoneId}"
        />
        <input
          type="hidden"
          id="buyerInfoChangeFlag"
          name="buyerInfoChangeFlag"
          value="0"
        />
        <input
          type="hidden"
          id="destinationInfoChangeFlag"
          name="destinationInfoChangeFlag"
          value="0"
        />

        <div class="row">
          <div class="col-8">
            <div id="buyer_area" class="d-block">
              <div
                style="
                  text-align: center;
                  background-color: antiquewhite;
                  border: 1px solid #000000;
                "
              >
                送り主情報
              </div>

              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="input_buyer_tel"> 電話番号： </label>
                  <input
                    type="text"
                    id="input_buyer_tel"
                    class="form-control buyerInputForm"
                    placeholder="000-0000-0000"
                    name="buyerTel"
                    th:field="*{buyerTel}"
                  />
                </div>
                <div class="form-group col-md-4">
                  <label for="input_buyer_zipcode"> 郵便番号： </label>
                  <div class="input-group">
                    <input
                      type="text"
                      id="input_buyer_zipcode"
                      class="form-control buyerInputForm"
                      placeholder="0000000"
                      name="buyerZipcode"
                      th:field="*{buyerZipcode}"
                    />
                    <div class="input-group-append">
                      <button
                        class="btn btn-outline-secondary"
                        type="button"
                        id="append_input_buyer_zipcode"
                      >
                        〒→住所
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-6">
                  <label for="input_buyer_address1"> 住所１： </label>
                  <input
                    type="text"
                    id="input_buyer_address1"
                    class="form-control buyerInputForm"
                    placeholder="住所１"
                    name="buyerAddress1"
                    th:field="*{buyerAddress1}"
                  />
                </div>
                <div class="form-group col-6">
                  <label for="input_buyer_address2"> 住所２： </label>
                  <input
                    type="text"
                    id="input_buyer_address2"
                    class="form-control buyerInputForm"
                    placeholder="住所２"
                    name="buyerAddress2"
                    th:field="*{buyerAddress2}"
                  />
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-6">
                  <label for="input_buyer_name"> お名前： </label>
                  <input
                    type="text"
                    id="input_buyer_name"
                    class="form-control buyerInputForm"
                    placeholder="注文者名"
                    name="buyerName"
                    th:field="*{buyerName}"
                  />
                </div>
                <div class="form-group col-6">
                  <label for="input_buyer_furi"> フリガナ： </label>
                  <input
                    type="text"
                    id="input_buyer_furi"
                    class="form-control buyerInputForm"
                    placeholder="チュウモンシャメイ"
                    name="buyerKana"
                    th:field="*{buyerKana}"
                  />
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-10">
                  <label for="memo">メモ欄：</label>
                  <textarea
                    class="form-control buyerInputForm"
                    id="memo"
                    name="memo"
                    rows="3"
                    th:field="*{memo}"
                  ></textarea>
                </div>
                <div class="form-group col-2">
                  <label for="usablePoint">保持ポイント：</label>
                  <input
                    type="text"
                    id="usablePoint"
                    class="form-control buyerInputForm"
                    name="usablePoint"
                    th:field="*{usablePoint}"
                    readonly
                  />
                </div>
              </div>
            </div>
            <div id="destination_area" class="d-block">
              <div
                style="
                  text-align: center;
                  background-color: antiquewhite;
                  border: 1px solid #000000;
                "
              >
                お届け先情報
              </div>
              <div class="form-row">
                <div class="col-md-2">
                  <button
                    class="btn btn-primary"
                    type="button"
                    id="same_delivery"
                    style="margin-top: 43px; margin-left: 10px"
                  >
                    注文者と同じ
                  </button>
                </div>
                <div class="form-group col-md-6">
                  <label for="input_destination_tel"> 電話番号： </label>
                  <input
                    type="text"
                    id="input_destination_tel"
                    class="form-control"
                    placeholder="000-0000-0000"
                    name="destTel"
                    th:field="*{destTel}"
                  />
                </div>
                <div class="form-group col-md-4">
                  <label for="input_destination_zipcode"> 郵便番号： </label>
                  <div class="input-group">
                    <input
                      type="text"
                      id="input_destination_zipcode"
                      class="form-control"
                      placeholder="0000000"
                      name="destZipCode"
                      th:field="*{destZipCode}"
                    />
                    <div class="input-group-append">
                      <button
                        class="btn btn-outline-secondary"
                        type="button"
                        id="append_input_destination_zipcode"
                      >
                        〒→住所
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-6">
                  <label for="input_destination_address1"> 住所１： </label>
                  <input
                    type="text"
                    id="input_destination_address1"
                    class="form-control"
                    placeholder="住所１"
                    name="destAddress1"
                    th:field="*{destAddress1}"
                  />
                </div>
                <div class="form-group col-6">
                  <label for="input_destination_address2"> 住所２： </label>
                  <input
                    type="text"
                    id="input_destination_address2"
                    class="form-control"
                    placeholder="住所２"
                    name="destAddress2"
                    th:field="*{destAddress2}"
                  />
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-6">
                  <label for="input_destination_name"> お名前： </label>
                  <input
                    type="text"
                    id="input_destination_name"
                    class="form-control"
                    placeholder="届け先名"
                    name="destName"
                    th:field="*{destName}"
                  />
                </div>
                <div class="form-group col-6">
                  <label for="input_destination_furi"> フリガナ： </label>
                  <input
                    type="text"
                    id="input_destination_furi"
                    class="form-control"
                    placeholder="トドケサキメイ"
                    name="destKana"
                    th:field="*{destKana}"
                  />
                </div>
              </div>
            </div>
            <div id="item_detail_area" class="d-block">
              <div
                style="
                  text-align: center;
                  background-color: antiquewhite;
                  border: 1px solid #000000;
                "
              >
                商品情報
              </div>
              <div class="form-row">
                <table class="table" id="item_input_table">
                  <thead>
                    <tr>
                      <th style="width: 5%"></th>
                      <th style="width: 10%">商品コード</th>
                      <th style="width: 30%">商品名</th>
                      <th style="width: 15%">商品オプション</th>
                      <th style="width: 10%">商品価格</th>
                      <th style="width: 10%">商品数量</th>
                      <th style="width: 10%">消費税率</th>
                      <th style="width: 10%">小計</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>
                        <div class="addButton"></div>
                      </td>
                      <td>
                        <input
                          name="itemCode"
                          type="text"
                          class="form-control"
                        />
                      </td>
                      <td>
                        <input
                          name="itemName"
                          type="text"
                          class="form-control"
                        />
                      </td>
                      <td>
                        <select name="itemOption" class="form-control">
                          <option value=""></option>
                          <option value="包装のみ">包装のみ</option>
                          <option value="無地のし">無地のし</option>
                          <option value="お歳暮のし">お歳暮のし</option>
                          <option value="お礼のし">お礼のし</option>
                          <option value="のし（その他）">のし（その他）</option>
                          <option value="ひとこと（感謝の気持ち）">ひとこと（感謝の気持ち）</option>
                          <option value="ひとこと（ありがとう）">ひとこと（ありがとう）</option>
                        </select>
                      </td>
                      <td>
                        <input
                          name="itemPrice"
                          type="hidden"
                          class="form-control calcItems"
                        />
                        <input name="itemPrice_taxInclude" type="text" class="form-control calcItems" />
                      </td>
                      <td>
                        <input
                          name="itemCount"
                          type="number"
                          class="form-control calcItems"
                        />
                      </td>
                      <td>
                        <input
                          name="itemTaxRate"
                          type="text"
                          class="form-control calcItems"
                        />
                      </td>
                      <td>
                        <input
                          name="subTotal"
                          type="hidden"
                          class="form-control subTotal"
                        />
                        <input name="subTotal_taxInclude" type="text" class="form-control subTotal" />
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        <div class="col-4" style="border-left: 1px solid #d3d3d3">
          <div
            id="information_area"
            class="d-block"
            style="position: sticky; top: 72px"
          >
            <div class="mb-4" data-toggle="buttons">
              <button type="button" class="btn btn-primary" id="test_tel_send" style="margin-right:50px;">
                受注確定
              </button>
              <button type="button" class="btn btn-secondary" id="clear_button" data-toggle="modal" data-target="#cancelModal">
                クリア
              </button>
            </div>
            <div class="form-row">
              <div class="form-group col-md-６">
                <label for="input_order_date"> 受注日： </label>
                <input
                  type="text"
                  id="input_order_date"
                  class="form-control datepicker"
                  name="orderDate"
                  th:field="*{orderDate}"
                />
              </div>
              <div class="form-group col-md-６">
                <label for="input_shipping_date"> 出荷予定日： </label>
                <input
                  type="text"
                  id="input_shipping_date"
                  class="form-control datepicker"
                  name="shippingSchedule"
                  th:field="*{shippingSchedule}"
                />
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="input_preferred_date"> 配達希望日： </label>
                <input
                  type="text"
                  id="input_preferred_date"
                  class="form-control datepicker"
                  name="deliveryDate"
                  th:field="*{deliveryDate}"
                />
              </div>
              <div class="form-group col-md-6">
                <label for="input_preferred_time"> 届け時間帯： </label>
                <select
                  id="input_preferred_time"
                  class="form-control"
                  name="shippingTimeZone"
                  th:field="*{shippingTimeZone}"
                >
                  <option value="指定なし">指定なし</option>
                  <option value="午前中">午前中</option>
                  <option value="14時-16時">１４時〜１６時</option>
                  <option value="16時-18時">１６時〜１８時</option>
                  <option value="18時-20時">１８時〜２０時</option>
                  <option value="19時-21時">１９時〜２１時</option>
                </select>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="input_payment"> 支払方法： </label>
                <select
                  id="input_payment"
                  class="form-control"
                  name="paymentMethod"
                >
                  <option th:selected="*{paymentMethod} == '請求書後払い'">
                    請求書後払い
                  </option>
                  <option th:selected="*{paymentMethod} == '代引'">代引</option>
                  <option th:selected="*{paymentMethod} == '銀行振込前払い'">
                    銀行振込前払い
                  </option>
                  <option th:selected="*{paymentMethod} == '現金'">現金</option>
                </select>
              </div>
              <div class="form-group col-md-6">
                <label for="input_invoice_type"> 送り状種別： </label>
                <select
                  id="input_invoice_type"
                  class="form-control"
                  name="shippingMethod"
                >
                  <option value="ヤマト運輸" selected>ヤマトB2V6</option>
                  <!-- 
                    <option value="ゆうぱっく">ゆうぱっく</option>
                    < option value="佐川急便">佐川急便</option>
                    <option value="伝票不要">伝票不要</option>
                    -->
                </select>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="input_cool"> クール区分： </label>
                <select id="input_cool" class="form-control" name="coolDiv">
                  <option value="0" th:selected="*{coolDiv} == 0">常温</option>
                  <option value="1" th:selected="*{coolDiv} == 1">冷蔵</option>
                  <option value="2" th:selected="*{coolDiv} == 2">冷凍</option>
                </select>
              </div>
              <div class="form-group col-md-6">
                <label for="input_postage"> 送料有無： </label>
                <select id="input_postage" class="form-control">
                  <option value="1" selected>有</option>
                  <option value="0">無</option>
                </select>
              </div>
            </div>
            <div class="form-row">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <!--
                      <th>商品計</th>
                      <th>税金</th>
                    -->
                    <th style="width: 67%">商品計（税込）</th>
                    <th style="width: 33%">発送料</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <input
                        name="itemAllPrice_taxInclude"
                        th:field="*{itemAllPrice_taxInclude}"
                        class="form-control"
                        value="0"
                        readonly
                      />
                    </td>
                    <td>
                      <input
                        name="shippingPrice"
                        th:field="*{shippingPrice}"
                        class="form-control calcBilling"
                        value="0"
                      />
                    </td>
                  </tr>
                </tbody>
              </table>
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th>手数料</th>
                    <th>ポイント</th>
                    <th>その他費用</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <input
                        name="commisionPrice"
                        th:field="*{commisionPrice}"
                        class="form-control calcBilling"
                        value="0"
                      />
                    </td>
                    <td>
                      <input
                        name="usePoint"
                        th:field="*{usePoint}"
                        class="form-control calcBilling"
                        value="0"
                      />
                    </td>
                    <td>
                      <input
                        name="otherPrice"
                        th:field="*{otherPrice}"
                        class="form-control calcBilling"
                        value="0"
                      />
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="form-group">
              <label for="input_total_claim"> 請求額： </label>
              <input
                type="text"
                id="input_total_claim"
                class="form-control"
                value="0"
                name="billingPrice"
                th:field="*{billingPrice}"
                style="height: 80px; font-size: 50px; color: red"
                readonly
              />
            </div>

            <div class="form-row">
              <div class="form-group col-md-6 d-none">
                <label for="input_remarks">備考欄</label>
                <textarea
                  type="text"
                  rows="4"
                  id="input_remarks"
                  class="form-control"
                  name="remarks"
                  th:field="*{remarks}"
                ></textarea>
              </div>
              <div class="form-group col-md-6">
                <label for="invoice_write">伝票記載事項</label>
                <textarea
                  type="text"
                  rows="4"
                  id="invoice_write"
                  class="form-control"
                  name="invoiceWrite"
                  th:field="*{invoiceWrite}"
                ></textarea>
              </div>
              <div class="form-group col-md-6">
                <label for="input_for_worker">本受注についての留意事項</label>
                <textarea
                  type="text"
                  rows="4"
                  id="input_for_worker"
                  class="form-control"
                  name="workerArea"
                  th:field="*{workerArea}"
                ></textarea>
              </div>
            </div>
            <div class="form-group form-check col-md-4">
              <input
                type="checkbox"
                id="input_gift_flag"
                class="form-check-input"
                name="giftFlag"
                th:checked="*{giftFlag}"
              />
              <label for="input_gift_flag">ギフト用</label>
            </div>
          </div>
        </div>
      </form>
    </div>

    <div
      class="modal fade"
      id="modal_zipcode"
      tabindex="-1"
      role="dialog"
      aria-labelledby="basicModal"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h3 class="modal-title" id="modalLabelId">住所選択</h3>
          </div>
          <div class="modal-body">
            <select id="modal_select_address" multiple></select>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
            >
              Close
            </button>
            <button
              type="button"
              id="modal_zipcode_OK_button"
              class="btn btn-primary"
            >
              OK
            </button>
          </div>
        </div>
      </div>
    </div>

    <div
      class="modal fade"
      id="modal_iteminfo"
      tabindex="-1"
      role="dialog"
      aria-labelledby="basicModal"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h3 class="modal-title" id="modalLabelId">商品候補一覧</h3>
          </div>
          <div class="modal-body">
            <table class="table" id="modal_iteminfo_table">
              <thead>
                <tr>
                  <th>商品コード</th>
                  <th>商品名</th>
                  <th>商品価格</th>
                  <th>商品税率</th>
                </tr>
              </thead>
              <tbody></tbody>
            </table>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
            >
              Close
            </button>
            <button
              type="button"
              id="modal_iteminfo_OK_button"
              class="btn btn-primary"
            >
              OK
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- 電話番号検索時用Modal -->
    <div
      class="modal fade"
      id="exampleModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body" id="modal_customer_table_area">
            <table class="table" id="modal_customer_table">
              <thead>
                <tr>
                  <th>名前</th>
                  <th>カナ</th>
                  <th>郵便番号</th>
                  <th>住所１</th>
                  <th>住所２</th>
                </tr>
              </thead>
              <tbody></tbody>
            </table>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
            >
              Close
            </button>
            <button type="button" id="tel_modal_submit" class="btn btn-primary">
              Save changes
            </button>
          </div>
        </div>
      </div>
    </div>

    <!--キャンセル確認用モーダル-->
    <div class="modal fade" id="cancelModal" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">キャンセル確認</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>本当に削除しますか？</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">いいえ</button>
            <a href="/nextengine-api/registOrder/"><button type="button" class="btn btn-primary">削除する</button></a>
          </div>
        </div>
      </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1/i18n/jquery.ui.datepicker-ja.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.js"></script>
    <script th:src="@{/js/registOrder.js}"></script>
  </body>
</html>
