.message-area {
	margin:5px 0;
	height:30px;
	color:red;
	font-weight:bold;
}

form label {
	line-height:2em;
	font-size:1.1em;
}

.flex {
	display:flex;
}

.left-search-area {
	width:50%;
}

.right-search-area {
	width:50%;
}

#resultTable tr td:first-of-type {
	border-right:5px solid #ff0b0b;
	border-left:5px solid #ff0b0b;
	font-weight:900;
	background-color:yellow;
}

.addButton {
	position: relative;
    width: 38px;
    height: 38px;
    background: #70975B;
    top: 18px;
    left: 22px;
	transform: translate(-50%, -50%) rotate(0deg);
	border-radius: 50%;
	cursor: pointer;
	z-index: 100;
	transition: 0.4s cubic-bezier(0.2, 0.6, 0.3, 1.1);
  }
  
  .addButton:after {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: 2px;
	width: 50%;
	background: white;
  }
  
  .addButton:before {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: 50%;
	width: 2px;
	background: white;
  }
  
  .addButton.clicked {
	transform: translate(-50%, -50%) rotate(360deg);
	background: #CC2A41;
  }
  
  .addButton.clicked:before {
	width: 0;
  }